select {
    margin-left: 5px;
}

p,
h2 {
    display: flex;
    justify-content: flex-start
}

.selects {
    display: flex;
    justify-content: flex-start;
    margin-right: 100px;
}

body {
    display: flex;
}
.content{
    margin-right: 50px;
}

#contact{
    position: absolute;
    left: 0;
    padding: 20px 20px 30px 20px;
    background-color: orange;
    border: none;
    border-bottom-right-radius:55%;
    box-shadow: -5px -1px 20px rgb(162, 116, 30);
}
#contact a{
    text-decoration: none;
    color: white;
}
